NET "color_button[0]" LOC = P120;
NET "color_button[0]" IOSTANDARD = LVTTL;
NET "color_button[0]" PULLUP;
NET "color_button[1]" LOC = P119;
NET "color_button[1]" IOSTANDARD = LVTTL;
NET "color_button[1]" PULLUP;
NET "color_button[2]" LOC = P116;
NET "color_button[2]" IOSTANDARD = LVTTL;
NET "color_button[2]" PULLUP;
NET "color_button[3]" LOC = P117;
NET "color_button[3]" IOSTANDARD = LVTTL;
NET "color_button[3]" PULLUP;
NET "color_button[4]" LOC = P118;
NET "color_button[4]" IOSTANDARD = LVTTL;
NET "color_button[4]" PULLUP;
NET "color_button[5]" LOC = P111;
NET "color_button[5]" IOSTANDARD = LVTTL;
NET "color_button[5]" PULLUP;
NET "color_button[6]" LOC = P87;
NET "color_button[6]" IOSTANDARD = LVTTL;
NET "color_button[6]" PULLUP;
NET "left_button" LOC = P121;
NET "left_button" IOSTANDARD = LVTTL;
NET "left_button" PULLUP;
NET "right_button" LOC = P99;
NET "right_button" IOSTANDARD = LVTTL;
NET "right_button" PULLUP;
NET "submit_button" LOC = P97;
NET "submit_button" IOSTANDARD = LVTTL;
NET "submit_button" PULLUP;
NET "reset_button" LOC = P92;
NET "reset_button" IOSTANDARD = LVTTL;
NET "reset_button" PULLUP;
NET "up_button" LOC = P104;
NET "up_button" IOSTANDARD = LVTTL;
NET "up_button" PULLUP;
NET "down_button" LOC = P101;
NET "down_button" IOSTANDARD = LVTTL;
NET "down_button" PULLUP;
